<%= turbo_frame_tag post do %>
  <%= form_with model: post, class: "post-form" do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :year %>

    <div class="post-form-reporter">
      <%= form.text_field :reporter, class: "post-form-reporter-content", placeholder: "名前" %>
    </div>

    <div class="post-form-content">
      <%= form.rich_textarea :content, class: "post-form-content-content" %>
    </div>

    <%= form.submit "投稿", class: "post-form-submit" %>
  <% end %>
<% end %>
