<%= turbo_frame_tag post do %>
  <%= form_with model: post, class: "post-form-form" do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :year %>

    <div class="post-form-first">
      <%= form.rich_textarea :content, class: "post-form-content", id: "post-form-content" %>
    </div>

    <div class="post-form-latter">
      <%= form.text_field :reporter, class: "post-form-reporter", placeholder: "投稿者", id: "post-form-reporter" %>

      <%= form.submit "投稿", class: "post-form-submit" %>
    </div>
  <% end %>
<% end %>
