<%= turbo_frame_tag post do %>
  <div class="post">
    <div class="post-top">
      <div class="post-header">
        <div class="post-reporter">
          <%= post.reporter %>
        </div>

        <div class="post-date">
          <%= l post.created_at, format: :date %>
        </div>
      </div>

      <% if admin_signed_in? %>
        <div class="post-actions">
          <%= button_to "編集", edit_post_path(post), method: :get, class: "post-action" %>
          <%= button_to "削除", post, method: :delete, class: "post-action", form: { data: { turbo_confirm: "削除しますか？" } } %>
        </div>
      <% end %>
    </div>

    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>
