<%= turbo_frame_tag post do %>
  <div class="post_header">
    <div class="post_header_reporter">
      <%= post.reporter %>
    </div>

    <div class="post_header_date">
      <%= l post.updated_at, format: :date %>
    </div>
  </div>

  <div class="post_content">
    <%= post.content %>
  </div>

  <div class="post-actions">
    <%= button_to "編集", edit_post_path(post), method: :get, class: "post-action-edit" %>
    <%= button_to "削除", post, method: :delete, class: "post-action-delete", form: { data: { turbo_confirm: "削除しますか？" } } %>
  </div>
<% end %>
