<%= turbo_frame_tag @post do %>
  <div class="post-edit">
    <%= form_with(model: @post, class: "post-edit-form") do |form| %>

      <%= form.hidden_field :year %>

      <div class="post-edit-form-content">
        <%= form.rich_textarea :content, class: "post-form-content-content" %>
      </div>

      <div class="post-edit-action">
        <%= link_to "キャンセル", @post, class: "post-edit-action-cancel" %>
        <%= form.submit "更新", class: "post-edit-submit" %>
      </div>

    <% end %>
  </div>
<% end %>
